.image {
  max-width: 70%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.feeds {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  padding: 0 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.7vw;
}

.detailsSection {
  background-color: rgb(57, 128, 130);
  color: white;
  padding: 3% 2%;
  margin: 0 auto;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;

}

.description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  margin: auto;
  padding: 5px;
  text-align: justify;
  color: white;
  text-shadow: 2px 2px 4px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid white;
}
