.navTitle {
  margin-left: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #0cb29f;
}
